@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Sawarabi+Gothic&family=Sawarabi+Mincho&family=Shippori+Mincho:wght@400;500;600;700;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sawarabi Mincho", sans-serif;
  overflow-x: hidden;
}

/*スクロールバー全体*/
::-webkit-scrollbar {
  width: 5px;
}

/*スクロールバーの軌道*/
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/*スクロールバーの動く部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 50, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3);
}

a {
  outline: none;
  text-decoration: none;
  color: inherit;
}
